<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lijinfeng.eses" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".ESApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/es_logo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ChartActivity"
            android:label="@string/title_activity_chart" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <provider
            android:name=".db.RecordProvider"
            android:authorities="com.jinfengli.eses.provider.record"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".activity.AddRecordActivity"
            android:label="@string/title_activity_add_record">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <!-- 把微店接入umeng统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55e6b02b67e58ef1fb0035c2" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <activity
            android:name=".activity.RecordDetailActivity"
            android:label="@string/title_activity_record_detail" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- <service android:name="com.avos.avoscloud.PushService"/> -->
        <activity
            android:name=".activity.EditRecordActivity"
            android:label="@string/title_activity_edit_record" >
        </activity>

    </application>

</manifest>
